{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="my-4">Moje auta</h2>
    {% if cars %}
      <ul class="list-group">
        {% for car in cars %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong>{{ car.brand }}</strong> - {{ car.model }} ({{ car.year }})<br>
              Cena: {{ "{:,}".format(car.price) }} Kč<br>
              Najeté km: {{ "{:,}".format(car.mileage) }}
            </div>
            <form action="{{ url_for('delete_car', car_id=car.id) }}" method="POST">
              <button type="submit" class="btn btn-danger btn-sm">Smazat</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert">
        Nemáte žádná přidaná auta.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
